body {
    margin-left:15px;
}

.logo {
  flex-flow: column wrap;  
  align-content: center;  
  margin-right: 0px;
}

.logo img {
    padding-top: 0;
    width: 60px;
    height: 30px;
}
h1 {
    font-size: 18px;  
}

p {
font-size: 12px;
}

.borderSearch {
    width: 100%;
    border-radius: 10px;
    line-height: 10px;
}

.filters  {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    line-height: 13px;
}

+