
 /*****************
      Search
*******************/

.searchForm label {
    font-weight: 800;
    cursor: pointer;
    font-size: 20px;
}

.searchForm button {
    width: 60px;
    border-radius: 10px;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: var(--blue);
}

.search h1 {
    font-size: 16px;
}

.search p {
    font-size: 12px;
}
/*******************
       Filter  
********************/
