/*************
    Reset     
**************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***************
    Variables     
****************/

:root {
    --blue: #0065FC;
    --blue-light: #DEEBFF;
    --gray-light: #F2F2F2;
    --white-clouds: #ecf0f1;
}

/**************
    Generals     
***************/
:root {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 32px;
    margin: 20px;

}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
}

/**************
   Utilities     
***************/
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h4 {
    font-size: 20px;
}

.search {
    font-size: 12px;
}

i {
    font-size: 20px;
    padding-right: 10px;
}

.fas {
    color: var(--blue);
    padding: 0;
}

ul li {
    padding: 15px;
}

.text-blue {
    color: var(--blue);
}

/*******************
    Nav * Headers     
********************/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px 20px 10px;
    font-size: 20px;
    color: black;
}

nav.logo {
    padding-top: 0;
}

.logo ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    color: black;
    margin: top 20px;
}

/*****************
    Search     
******************/

.search.container {
    display: inline;
    flex-flow: left;
}

.search-form button:hover {
    background: #889ca1;
}

.btn-gray-light {
    font-size: 16px;
    margin: 10px 20px 0px 10px;
    border-radius: 50px;
    background: var(--gray-light);
    cursor: pointer;
    transition: all 0.2s;
    width: 180px;
    height: 40px;
    padding: 0
}

.filters a {
    font-size: 20px;
    color: black;
    display: inline;
}

.filters i {
    display: inline;
    flex-flow: left;
    background: var(--blue-light);
    color: black;
}

.button-large i {
    line-height: 35px;
}

button.button-search {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 0 12px 12px 0px;
    background-color: var(--blue);
    color: white;
    width: 100px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
}

.search-town i {
    display: inline;
    border: none;
    background: var(--blue-light);
    width: 100%;
}

#search p {
    font-size: 14px;
}

.info {
    font-size: 20px;
    padding: 40px 20px 30px 0px;

}

input {
    height: 40px
}

/*****************
    Hebergments     
******************/
.heberg_and_activ {
    display: flex;
    justify-content: space-between;
    flex:2
}
.hebergement {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex: 2;
    background: var(--gray-light);
    margin-right: 20px;
    border-radius: 15px;

}

.title {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 800;
    padding: 15px;
}

.heberg-items {
    border: 1px solid var(--gray-light);
    background: white;
    border-radius: 7px;
    max-width: 30%;
    margin: 15px 15px 15px 15px;

}

.heberg-items h4,
p {
    font-size: 14px;
    color: black;
}

.heberg-items:hover {
    box-shadow: 0 5px 10px 0 #333;
}


.heberg-items img {
    width: 250px;
    height: 150px;
    border-radius: 7px;
    margin: 5px 5px 5px 5px;
}

.price {
    padding: 15px;
}

.scroll {
    font-size: 20px;
    color: black;
    font-weight: 800;
    padding: 60px 10px 10px 10px;
}

/*****************
      Popular     
******************/

.popular {
    background: var(--gray-light);
    flex: 1;
    border-radius: 15px;
    
}

.popular-content {
    padding-left: 15px;
    font-size: 14px;
}
.popular.title {
    display: flex;
    justify-content: space-evenly;
}

.popular-img {
    
    border-radius: 15px;
    max-width: 30%;
}


.popular-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
   
    border: 1px solid var(--gray-light);
    background: white;
    border-radius: 2px;
}

/*****************
    Activities      
******************/

.activity {
    margin-bottom: 60px;
    padding: 10px 10px;
}

.activities-list {
    display: flex;
    justify-content: space-around;
    height: 600px;
}

.activities-list .column {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
}

.activities-list .column aside img {
    width: 100%;
    height: calc(100% - 67px);
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.activities-list .column aside {
    height: 100%;
    box-shadow: 0px 0px 10px 0px var(--gray-light);
    border-radius: 15px;
}

.activities-list .column aside h3 {
    padding: 21px;
    margin: 0px;
}

.activities-list .column.double aside {
    height: 48%;
}

/*****************
    FOOTER      
******************/

.container-footer {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.container-elem1,
.container-elem2,
.container-elem3 {
    padding: 10px;
    font-weight: 400;
    font-size: 18px;
    background: var(--gray-light);
}

.container-footer,
h4,
li {
    padding: 20px 10px 10px 15px;
    line-height: 5px;
}

.container-footer,
h4 {
    margin-bottom: 15px;
}