/*************
    Reset     
**************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***************
    Variables     
****************/

:root {
    --blue: #0065FC;
    --blue-light: #DEEBFF;
    --gray-light: #F2F2F2;
    --gray-light-box: #c2baba;
    --white-clouds: #ecf0f1;
    --gray-dark: rgb(230, 225, 225);
    --title-section: 18px;
    --title-section-mobile: 24px;
}

/**************
    Generals     
***************/


:root {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;

}

main {
    padding: 0px 40px;
    margin-bottom: 50px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.starGrey {
    color: #d9d9d9;
    font-size: 9px;
}

/********************
      HEADER   
*********************/

header {
    display: flex;
    padding: 0px 0px;
}

.logo {
    flex-grow: 1;
    padding-left: 50px;
}

.logo img {
    width: 120px;
    height: 50px;
    margin-top: 40px;
}

.navPrimary ul {
    display: flex;
}

.navPrimary a {
    display: block;
    padding: 40px;
    border-top: 2px solid transparent;
}

.navPrimary a:hover {
    color: var(--blue);
    border-top: 2px solid var(--blue);
}

/*************************
      SECTION  search
**************************/
.searchForm:before {
    content: "rechercher";
}

.fa-map-marker-alt {
    background-color: var(--gray-light);
    font-size: 20px;
    color: black;
    padding: 0;
    border-radius: 15px 0px 0px 15px;
}

.searchForm {
    display: flex;
    margin: 20px 0px;
}
.search p {
    padding-top: 10px;
    font-size: 15px;
}
/******************************************/
            /*  FORM  */

.searchForm i {
    background-color: var(--gray-light);
    padding: 17px;
    height: 51px;
}


.searchForm label {
    border-radius: 10px 0 0 10px;
    color: var(--gray-light);
    border: none;
}

.searchForm input {
    padding-left: 15px;
    border: none;
}
/***************** ecrire la ville **********/

::placeholder {
    color: black;
    font-weight: 800;
}

.searchForm button {
    border: none;
    border-radius: 0 13px 13px 0px;
    background-color: var(--blue);
    color: white;
    height: 52px;
    padding-bottom: 5px;
    font-weight: 800;
    cursor: pointer;
    font-size: 18px;
    width: 110px;
}

/*************************
       SECTION  filters
**************************/

.filters {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    font-size: 14px;
}

/***************** barre des filtres *********/

.filtersBtn {
    display: flex;
}

/* entre filtres et economies*/

.filters h2 {
    padding-right: 20px;
}

.btn-gray-light {
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: white;
    border: 2px solid #E3E3E3;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s;
    width: auto;
    font-weight: 600;
    height: 40px;
    padding-right: 10px;
    margin: 10px 20px 10px 0px;

}

.filtersBtn i {
    background-color: var(--blue-light);
    color: var(--blue);
    margin: 0px 10px 0px -3px;
    border-radius: 55px;
    width: 41px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.btn-gray-light:hover {
    background-color: var(--blue-light);
    color: black;
}

/*****************
        INFO   
******************/

.infoFilters {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    padding: 20px 40px 30px 0px;
}

.infoFilters i {
    border: 1px solid var(--gray-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 25px;
    align-items: center;
    color: var(--blue);
    width: 23px;
    height: 23px;
    font-size: 11px;
}

/***************************
    container  2 sections      
****************************/

.hebergPopular {
    display: flex;
}

/***************************
    SECTION hebergements   
****************************/
.hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 65%;
    gap: 20px 20px;
    background-color: var(--gray-light);
    border-radius: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.hebergements .title {
    font-size: var(--title-section);
    color: black;
    display: inline;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: transparent;
    padding: 25px 0px 7px 6px;
}

.hebergment {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
    border-radius: 16px 16px;
    box-shadow: 0px 2px 10px var(--gray-light-box);
    padding: 1px 1px 1px 1px;
    border: 2px solid transparent;
}

a:hover.hebergment {
    background-color: var(--blue-light);
    transform: scale(1.05);
    transition: 0.5s;
}

.hebergment img {
    border-radius: 16px 16px 0px 0px;
    width: 100%;
    height: 92px;
    object-fit: cover;

}

.hebergment figcaption>i {
    font-size: 9px;
    color: var(--blue);
    padding-bottom: 10px;
}

.hebergment figcaption {
    line-height: 18px;
    padding: 0px 0px 0px 9px;
    font-size: 14px;
}

.hebergment p {
    font-size: 13px;
}

/**********************/

.plusInfo a {
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.plusInfo {
    width: 100%;
    padding-left: 6px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.plusInfo a:hover {
    text-decoration: underline var(--blue)
}

/***********************
      SECTION popular   
************************/

.popular {
    background-color: var(--gray-light);
    flex: 1;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 16px 16px;
    margin: 0px 0px 0px 20px;
}

.popular .title {
    font-size: var(--title-section);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 25px 22px 5px 22px;

}

.popular .title i {
    color: black;
    font-size: 16px;
}


.popularItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1px 5px;
    background-color: white;
    border-radius: 16px;
    margin: 15px 20px;
    box-shadow: 0px 2px 10px var(--gray-light-box);
    height: 120px;
    border: 2px solid transparent;
}

a:hover .popularItem {
    background-color: var(--blue-light);
    transform: scale(1.05);
    transition: 0.5s;
}

.popular a {
    margin-top: -10px;
}

.popularItem img {
    padding: 1px 1px 1px 1px;
    object-fit: cover;
    width: 30%;
    max-height: 300px;
    border-radius: 16px 0px 0px 16px;
}

.popular i {
    font-size: 9px;
    color: var(--blue);
    padding-bottom: 10px;
}

.popular .starGrey i {
    font-size: 9px;
    color: #d9d9d9;
    padding-bottom: 10px;
}

.popularItem figcaption {
    flex-wrap: wrap;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px 8px 8px;
}

.popular {
    font-size: 14px;
    color: black;
}

/****************************
      SECTION activities    
*****************************/

.activityCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 54px);
    gap: 21px;
    grid-template-areas:
        "One Two Four Five"
        "One Two Four Five"
        "One Two Four Six"
        "One Three Four Six"
        "One Three Four Six";

}

.activityCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 2px 10px var(--gray-light-box);
}

a:hover.activityCard {
    background-color: var(--blue-light);
    transform: scale(1.05);
    transition: 0.5s;
}
 /**************** vieux port  *******/
.cardOne {
    grid-area: One;
    height: 300px;
}
/******************  fort   **********/

.cardTwo {
    grid-area: Two;
    height: 150px;
}
/****************** frioul ***********/
.cardThree {
    grid-area: Three;
    height: 130px;
}
/****************  calanques **********/
.cardFour {
    grid-area: Four;
    height: 300px;
}
/**************  notre dame ***********/
.cardFive {
    grid-area: Five;
    height: 130px;
}
/**************  parc *****************/
.cardSix {
    grid-area: Six;
    height: 150px;
}

.activityPicture img {
    height: 100%;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
    overflow: hidden;
}

.ratio {
    object-position: 50% 30%;
    object-position: center top;
}

.activitTitle {
    font-size: var(--title-section);
    color: black;
    padding: 50px 0px 20px 5px;
}

.activityPicture {
    height: calc(100% - 44px);
}

/************** legende carte ***********/
.activitLegend {
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 17px;
    color: black;
    font-family: Raleway;
    font-weight: bold;
    font-size: 13px;
    padding-top: 10px;
}

/*****************
    FOOTER      
******************/

.containerFooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    background: var(--gray-light);
    padding: 30px 0px 10px 40px;
    line-height: 30px;
    font-size: 13px;
    font-weight: 500;
    margin-top: 20px;
}

div ul:nth-child(2) {
    padding-top: 5px;
}

.containerFooter li:hover {
    text-decoration: underline;

}