main {
    padding:0px 0px;
}

/*****************
     HEADER
*******************/

body > header {
    flex-wrap: wrap;
}

.logo {
    text-align: center;
    width: 100%;
}

.logo img {
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin-top: 0px;
}

.navPrimary {
    width: 100%;
    text-align: center;
}

.navPrimary li {
    width: 50%;
    font-size: 16px;
}

.navPrimary a {
    padding: 20px;
    border-bottom: 2px solid transparent;
    border-top: 0px;
}

.navPrimary a:hover {
    border-bottom: 2px solid var(--blue);
    border-top: 0px;
}

header {

    padding: 0px 30px;
}
/*****************
    SEARCH   
******************/


.search {
    padding:0px 30px;
}

.search h1 {
    font-size: 25px;
}


.search input {
    border-top: 1px solid var(--gray-light);
    border-bottom: 1px solid rgb(230, 225, 225);
    height: 51px;
}

.search p {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 10px;
}

.searchForm i {
    padding: 15px;
}

.searchForm button {
    border-radius: 15px;
    width: 60px;
    margin: 0px 0 0px -7px;
    height: 50px;
}

.searchForm label {
    font-weight: 900;
}
/**********************
       FILTERS  / INFO
***********************/
.filters {
    padding: 0px 30px;    
}

.filtersBtn {
    flex-wrap: wrap;
}

button.btn-gray-light i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 55px;
    height: 53px;
    margin: -2px 7px 0px -6px;
}


.filtersBtn .btn-gray-light {
    font-size: 19px;
    font-weight: 600;
    height: 55px;
    border: 2px solid rgb(228, 226, 226);
    margin: 10px 12px 10px 0px;
}


.infoFilters i {
    color: var(--blue);
}

.infoFilters {
    align-items: baseline;
    padding: 15px 40px 40px 40px;
    font-size: 18px;
    font-weight: 500;
}

/*****************
    Hebergments     
******************/

.hebergements {
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    margin: 0px;  
}

.hebergements a {
    width: 100%;
    box-shadow: 10px 5px 5px rgb(241, 238, 238);
    border-radius: 20px 20px 20px 20px;
}

.hebergements .title {
    font-size: 24px;
  
}

figure .hotelImg {
    flex-direction: column;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    height: 140px;
    padding: 3px;
    width: 100%;
}

figure {
    padding: 3px;
    box-shadow: 5px 30px 30px var(--gray-light);
    margin: 10px 10px 5px 10px;
    height: auto;
}


figcaption 
.nameHotel, 
.price {
    font-size: 18px;
    line-height: 24px; 
}

figure i {
    font-size: 13px;
}

.hebergements figcaption {
    padding: 7px 5px 0px 15px;
}


/******************/

.plusInfo {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 900;
  
  }
/*****************
      Popular     
******************/
.hebergPopular {
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.popular {
    width: 100%;
    border-radius: 0px;
    margin:0px;
    padding: 0px 0px 0px 15px;
    padding-bottom: 40px;   
}

.popularImg {
    width: 40%;
    border-radius: 20px 0px 0px 20px;
}

.popularItem {
     height: 160px; 
}

 .popularItem figcaption  {
    padding-left: 15px;
    padding-top:15px;
    line-height: 25px;
}

.infoPopular {
    padding-bottom: 15px;
    font-weight: 500;
}

.popular .title {
    font-size: 24px;
}

.popularIcone {
    font-size: 17px;
    padding-top: 6px;
}

.popular 
.popularName {
    font-size: 19px;
}

h3.popularName {
    font-size: 16px;
}
.popular h2.title {
    padding: 30px 15px 20px 20px;
}
/*****************
    FOOTER      
******************/
/*
.containerFooter {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0;
    
}
 
 