
/*************
    SEARCH 
**************/
.fa-search:before {
    content: 'Rechercher';
}

.searchForm button {
    width: 110px;
}

/*******************
       HEBERGEMENTS 
********************/

/**************************
    SECTION activitiesList    
***************************/


.activitTwoPictures,
.fort,
.longChamp {
    margin-bottom: 35px;
}

.activitTwoPictures,
.notreDame,
.frioul {
    margin-bottom: 35px;
   
}


/******************
        FOOTER
******************/

