/*************
    Reset     
**************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***************
    Variables     
****************/

:root {
    --blue: #0065FC;
    --blue-light: #DEEBFF;
    --gray-light: #F2F2F2;
    --white-clouds: #ecf0f1;
    --gray-dark: rgb(230, 225, 225);
}

/**************
    Generals     
***************/
:root {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}

main {
    padding: 0px 40px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h4 {
    font-size: 20px;
}


/********************
      HEADER   
*********************/

header {
    display: flex;
    padding: 0px 40px;
}

.logo {
    flex-grow: 1;
}

.logo img {
    width: 120px;
    height: 50px;
    margin-top: 40px;
}

.navPrimary ul {
    display: flex;
}

.navPrimary a {
    display: block;
    padding: 40px;
    border-top: 2px solid transparent;
}

.navPrimary a:hover {
    color: var(--blue);
    border-top: 2px solid var(--blue);
}

/********************
      SEARCH
*********************/


.fa-map-marker-alt {
    background-color: var(--gray-light);
    font-size: 20px;
    color: black;
    padding: 0;
    border-radius: 15px 0px 0px 15px;
}

.searchForm i {
    background-color: var(--gray-light);
    padding: 20px;
    height: 52px;
}

.search h1 {
    font-size: 20px;
}

.search p {
    padding-top: 10px;
    font-size: 15px;
}

.searchForm {
    display: flex;
    margin: 20px 0px;
}

.searchForm label {
    border-radius: 10px 0 0 10px;
    color: var(--gray-light);
    border: none;
}

.searchForm input {
    padding-left: 15px;
    border: none;
    font-weight: 200;
}

.searchForm button {
    border: none;
    border-radius: 0 10px 10px 0px;
    background-color: var(--blue);
    color: white;
    height: 52px;
    padding-bottom: 5px;
    font-weight: 800;
    cursor: pointer;
    font-size: 18px;
}

/*******************
       FILTERS  
********************/

.filters {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    font-size: 14px;
}

.filtersBtn {
    display: flex;
}

.filters h2 {
    padding-right: 10px;
}

.filtersBtn .btn-gray-light {
    display: flex;
    align-items: center;
    font-size: 17px;
    background-color: white;
    border: 1px solid var(--gray-light);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s;
    width: auto;
    height: 35px;
    padding-right: 10px;
    margin: 10px 10px 10px 0px;
}

button.btn-gray-light i {
    background-color: var(--blue-light);
    color: var(--blue);
    margin-right: 10px;
    border-radius: 55px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.btn-gray-light:hover {
    background-color: var(--blue-light);
    color: white;
}

/*****************
        INFO   
******************/

.info {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 300;
    padding: 20px 40px 30px 0px;
}

.info i {
    border: 1px solid var(--gray-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 25px;
    align-items: center;
    color: var(--blue);
    width: 24px;
    height: 24px;
}

/*********************
    Generals Sections     
**********************/

.hebergements .title,
.popular .title,
.activity .title,
h2 {
    font-size: 20px;
    color: black;
}


 .hebergPopular {
    display: flex;
}
 
/*****************
    HEBERGEMENTS    
******************/
.hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--gray-light);
    width: 65%;
    border-radius: 15px 15px;    
}

.hebergements .title {
    display: inline;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: transparent;
    padding: 25px 0px 5px 20px;
}

.hebergements,
.nameHotel,
.price {
    font-size: 14px;
    color: black;
}

figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 10px 10px 10px;
    background-color: white;
    border-radius: 10px 10px;
    padding: 4px;
}

figure .hotelImg {
    border-radius: 10px 10px 0px 0px;
    width: 170px;
    height: 100px;
    display: flex;
    align-items: center;
}

figure i {
    font-size: 11px;
    color: var(--blue);
    padding-bottom: 10px;
}

figcaption .hotelImg {
    padding: 10px;
    line-height: 20px;
}

/*****************
      Popular     
******************/


.popular {
    background: var(--gray-light);
    flex: 1;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 0px 0px 5px 30px;
    margin: 0px 0px 0px 20px;
}

h2.title {
    padding: 25px 0px 20px 10px;
    display: flex;
    justify-content: space-between;
}

.popularItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 130px;
    background-color: white;
    border-radius: 15px;
    margin: 8px;
}

h2.title {
    padding-right: 15px;
}

.popularContent {
    padding-left: 15px;
}

.popularImg {
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    object-fit: cover;
    width: 30%;
    max-height: 300px;
    border-radius: 15px 0px 0px 15px;
}

.popularName {
    font-size: 14px;
}

article i {
    font-size: 11px;
    color: var(--blue);
    padding-bottom: 10px;
   

}

figcaption {
    flex-wrap: wrap;
    line-height: 20px;
}


.popular,
.popularName,
.popularIcone {
    font-size: 14px;
    color: black;
}

/*****************
    Activities      
******************/
/*
.activity {
    margin-bottom: 60px;
    padding: 10px 10px;
}

.activitiesList {
    display: flex;
    justify-content: space-around;
    height: 600px;
}

.activitiesList .column {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    font-size: 20px;
} */

/* .activitiesList .column article img {
    width: 100%;
    height: calc(100% - 67px);
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.activitiesList .column article {
    height: 100%;
    box-shadow: 0px 0px 10px 0px var(--gray-light);
    border-radius: 15px;
}

.activitiesList .column article h3 {
    margin: 0px;
    padding-left: 5px;
    ;
}

.activitiesList .column.double article {
    height: 48%;
}
 */
/*****************
    FOOTER      
******************/

/* .containerFooter {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.containerElem1,
.containerElem2,
.containerElem3 {
    padding: 10px;
    font-weight: 400;
    font-size: 18px;
    background: var(--gray-light);
}

.containerFooter,
h4,
li {
    padding: 20px 10px 10px 15px;
}

/* .containerFooter,
h4 { 
    margin-bottom: 15px;
}*/ 