/*************
    Reset     
**************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***************
    Variables     
****************/

:root {
    --blue: #0065FC;
    --blue-light: #DEEBFF;
    --gray-light: #F2F2F2;
    --gray-light-box: #c2baba;
    --white-clouds: #ecf0f1;
    --gray-dark: rgb(230, 225, 225);
    --title-section: 20px;
    --title-section-mobile: 24px;
}

/**************
    Generals     
***************/


:root {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;

}

main {
    padding: 0px 40px;
    margin-bottom: 50px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}


/********************
      HEADER   
*********************/

header {
    display: flex;
    padding: 0px 0px;
}

.logo {
    flex-grow: 1;
    padding-left: 50px;
}

.logo img {
    width: 120px;
    height: 50px;
    margin-top: 40px;
}

.navPrimary ul {
    display: flex;
}

.navPrimary a {
    display: block;
    padding: 40px;
    border-top: 2px solid transparent;
}

.navPrimary a:hover {
    color: var(--blue);
    border-top: 2px solid var(--blue);

}

/*************************
      SECTION  search
**************************/


.fa-map-marker-alt {
    background-color: var(--gray-light);
    font-size: 20px;
    color: black;
    padding: 0;
    border-radius: 15px 0px 0px 15px;
}

.searchForm i {
    background-color: var(--gray-light);
    padding: 20px;
    height: 51px;
}

.search p {
    padding-top: 10px;
    font-size: 15px;
}

.searchForm {
    display: flex;
    margin: 20px 0px;
}

.searchForm label {
    border-radius: 10px 0 0 10px;
    color: var(--gray-light);
    border: none;
}

.searchForm input {
    padding-left: 15px;
    border: none;
}

.searchForm button {
    border: none;
    border-radius: 0 13px 13px 0px;
    background-color: var(--blue);
    color: white;
    height: 52px;
    padding-bottom: 5px;
    font-weight: 800;
    cursor: pointer;
    font-size: 18px;
}

::placeholder {
    color: black
}

/*************************
       SECTION  filters
**************************/

.filters {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    font-size: 14px;
}

.filtersBtn {
    display: flex;
}

.filters h2 {
    padding-right: 20px;
}

.filtersBtn .btn-gray-light {
    display: flex;
    align-items: center;
    font-size: 17px;
    background-color: white;
    border: 2px solid rgb(230, 225, 225);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s;
    width: auto;
    height: 35px;
    padding-right: 10px;
    margin: 10px 10px 10px 0px;
    
}

button.btn-gray-light i {
    background-color: var(--blue-light);
    color: var(--blue);
    margin: 0px 10px 0px -1px;
    border-radius: 55px;
    width: 40px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.btn-gray-light:hover {
    background-color: var(--blue-light);
    color: black;
    
}

/*****************
        INFO   
******************/

.infoFilters {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 300;
    padding: 20px 40px 30px 0px;
}

.infoFilters i {
    border: 1px solid var(--gray-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 25px;
    align-items: center;
    color: var(--blue);
    width: 23px;
    height: 23px;
    font-size: 11px;
}

/*******************
    General      
********************/

.hebergPopular {
    display: flex;
}

/***************************
    SECTION hebergements   
****************************/
.hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 65%;
    gap: 10px 10px;
    background-color: var(--gray-light);
    border-radius: 15px;
}

.hebergements .title {
    font-size: var(--title-section);
    color: black;
    display: inline;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: transparent;
    padding: 25px 0px 5px 20px;
}

.hebergment {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
    border-radius: 15px 15px;
    box-shadow: 0px 2px 10px var(--gray-light-box);
    padding: 1px 1px 1px 1px;
    border: 2px solid transparent;
}

a:hover.hebergment {
    border: 2px solid var(--blue);
   
}

.hebergment img {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 92px;
    object-fit: cover;

}

.hebergment i {
    font-size: 11px;
    color: var(--blue);
    padding-bottom: 10px;
}

.hebergment figcaption {
    line-height: 20px;
    padding: 5px 5px 0px 12px;

}

.hebergment h2,
p {
    font-size: 14px;
    color: black;
}


/**********************/

.plusInfo a {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.plusInfo {
    width: 100%;
    padding-left: 25px;
    padding-bottom: 30px;
    padding-top: 20px;
}

/***********************
      SECTION popular   
************************/

.popular {
    background-color: var(--gray-light);
    flex: 1;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 0px 0px 0px 20px;
}

.popular .title {
    font-size: var(--title-section);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 25px 10px 5px 10px;
}

.popular .title i {
    color: black;
    font-size: 16px;
}

.popularItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1px 5px;
    background-color: white;
    border-radius: 15px;
    margin: 8px;
    box-shadow: 0px 2px 10px var(--gray-light-box);
    height: 120px;
    border: 2px solid transparent;
   
}

a:hover .popularItem {
    border: 2px solid var(--blue);

}

.popularContent {
    padding-left: 15px;
}

.popularItem img {
    padding: 1px 1px 1px 1px;
    object-fit: cover;
    width: 30%;
    max-height: 300px;
    border-radius: 15px 0px 0px 15px;
    
}

.popularName {
    font-size: 14px;
}

.popular i {
    font-size: 11px;
    color: var(--blue);
    padding-bottom: 10px;
}

.popularItem figcaption {
    flex-wrap: wrap;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px 8px 8px;
}

.popular,
.popularName,
.popularIcone {
    font-size: 14px;
    color: black;
}

/****************************
      SECTION activities    
*****************************/

.activityCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 25px;
    grid-template-areas:
        "One Two Four Five"
        "One Two Four Five"
        "One Two Four Six"
        "One Three Four Six"
        "One Three Four Six";
      
}

.activityCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 2px 10px var(--gray-light-box);
    border: 1px solid transparent;   
}

a:hover.activityCard {
    border: 1px solid var(--blue);
  
}

.cardOne {
    grid-area: One;
}

.cardTwo {
    grid-area: Two;
}

.cardThree {
    grid-area: Three;
}

.cardFour {
    grid-area: Four;
}

.cardFive {
    grid-area: Five;
}

.cardSix {
    grid-area: Six;
}

.activityPicture img {
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.activitTitle {
    font-size: var(--title-section);
    color: black;
    padding-top: 50px;
    padding-bottom: 10px;
}

.activityPicture {
    height: calc(100% - 70px);
}

/* LEGENDE CARD */
.activitLegend {
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: black;
    font-family: Raleway;
    font-weight: bold;
    font-size: 17px;
    padding-top: 10px;
}

/*****************
    FOOTER      
******************/

.containerFooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    background: var(--gray-light);
}

.containerFooter {
    padding: 0px 0px 0px 40px;
    line-height: 35px;
    font-size: 14px;
}

.containerFooter {
    margin-top: 20px;
    padding: 20px 0px 10px 40px;

}