

main {
    padding: 0px;
}

/*****************
     HEADER
*******************/

body > header {
    flex-wrap: wrap;
}

.logo {
    text-align: center;
    width: 100%;
}

.logo img {
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin-top: 0px;
}

.navPrimary {
    width: 100%;
    text-align: center;
}

.navPrimary li {
    width: 50%;
    font-size: 16px;
}

.navPrimary a {
    padding: 20px;
    border-bottom: 2px solid transparent;
    border-top: 0px;
}

.navPrimary a:hover {
    border-bottom: 2px solid var(--blue);
    border-top: 0px;
}

/*****************
    SEARCH   
******************/

.search h1 {
    font-size: 25px;
}


.search input {
    border-top: 1px solid var(--gray-light);
    border-bottom: 1px solid rgb(230, 225, 225);
    height: 51px;

}

.search p {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 10px;
}

.searchForm label {
    font-weight: 800;
    cursor: pointer;
    font-size: 18px;
}

.searchForm i {
    padding: 15px;
}

.searchForm input {
    flex-grow: 1;
}

.searchForm button {
    border-radius: 10px;
    width: 60px;
    margin: 0px 0 0px -5px;
    height: 50px;
}

/**********************
       Filter  / Info
***********************/
.filtersBtn {
    flex-wrap: wrap;

}

.filters .filtersBtn i {
    color: var(--blue);
}

.info i {
    color: var(--blue);
}

.info {
    align-items: baseline;
}

/*****************
    Hebergments     
******************/

.hebergements {
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    margin: 0px;
}

.hebergements a {
    width: 100%;
}

figure .hotelImg {
    flex-direction: column;
    object-fit: cover;
    padding: 3px;
    width: 100%;
}

figure {
    padding: 3px;
    box-shadow: 5px 3px 3px var(--gray-light);
}

/*****************
    FOOTER      
******************/
/*
.containerFooter {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0;
    
}
 
 